@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '思源宋体SC-SemiBold';
  src: url('/fonts/思源宋体SC-SemiBold.otf') format('opentype');
}

body {
  font-family: '思源宋体SC-SemiBold', sans-serif;
}